:root {
  --bs-font-sans-serif: "Russo One", sans-serif;
}

.container-xxl {
  max-width: 1530px;
}

body {
  background-image: url(/img/bg.svg);
  background-color: rgba(243, 243, 243);
}
